.Nav_in_pass{
    /* border: 2px solid red; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.2px solid #cbc9c9;
     font-family: 'Netflix Sans',
     'Helvetica Neue',
     Helvetica,
     Arial,
     sans-serif;
}
.Mainbody_in_Pass{
    
    height: 500px;
    /* border: 2px solid blue; */
       padding:40px 20px;
       width: 100%;
  
}
.content_in_pass{
    max-width: 500px;
    /* border: 2px solid red; */
    margin:31px auto;
}
.form_pass{
    max-width:100%;
}
.H3_pass{
         font-size: 24px;
         font-weight: bold;
         color: #000000b8;
         }

.p_para{
    font-size: 20px;
    width: 90%;
    margin: 12px 0px;
}
.input_para{
         width: 90%;
         height: 36px;
         /* border: none; */
         padding: 10px 0px;
         outline: none;
         display: block;
         margin: 20px 0px;
         border: 1px solid grey;
         border-radius: 3px;
}
.button_para{
       width: 90%;
       display: block;
       font-size: 21px;
       background-color: #e50914;
       /* height: 34px; */
       text-align: center;
       padding: 13px 0px;
       color: white;
       border: none;
       border-radius: 3px;
       outline: none;
       cursor: pointer;
}
.toless{
    color: orange;
    font-size: 17px;
    position: relative;
    top: -21px;
    text-align: center;
}